<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include("../link.ejs")%>
    <link href="/static/css/profile/profileUpdate.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <%-include("../navbar/navbar.ejs")%>
    <div class="profile">
      <div class="profile-header">
        <button type="button" class="btn btn-outline-primary">
          <a href="/profileUpdate"> 프로필 저장</a>
        </button>
      </div>
    </div>
    <!-- profile -->
    <main class="profile">
      <div class="profile-container">
        <div class="profile-inner">
          <div class="profile-img">
            <label
              class="profile-button input-group-text"
              for="inputGroupFile01"
            >
              <i class="profile-icon bi bi-file-earmark-plus"></i>
            </label>
            <input
              type="file"
              class="profile-file form-control"
              id="inputGroupFile01"
            />
            <h2 class="picture-update">사진 등록</h2>
          </div>
          <div class="profile-content">
            <div class="container text-center">
              <div class="row">
                <div class="col-12 profile-name">이름</div>
              </div>
            </div>
            <!-- Button trigger modal -->

            <div class="profile-item">
              <button
                type="button"
                class="profile-btn btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#namestaticBackdrop"
              >
                <i class="bi bi-pencil-square"> 프로필 수정 </i>
              </button>
            </div>
            <!-- Button trigger modal -->

            <div class="profile-item">
              <button
                type="button"
                class="profile-btn btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                <i class="bi bi-pencil-square"> 포트폴리오 추가 </i>
              </button>
            </div>

            <!-- Button trigger modal -->
            <div class="profile-item">
              <button
                type="button"
                class="profile-btn btn btn-outline-primary"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
              >
                <i class="bi bi-pencil-square"> SNS 추가 </i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./modal/name.ejs') %> <%- include('./modal/career.ejs') %> <%-
    include('./modal/sns.ejs') %>

    <script src="/jq/jquery.js"></script>
    <script src="/static/js/profile/carousel.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/slick/slick.js"></script>
  </body>
</html>
