<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>celebstars</title>
    <%-include("link.ejs")%>
    <link rel="stylesheet" href="/static/css/main/main.css" />
  </head>
  <body class="main_body">
    <div id="wrap">
      <%-include("./navbar/navbar.ejs")%>
      <%-include("./back_to_top/back_to_top.ejs")%>
      <main class="main">
        <div id="banner_box" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#banner_box"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <% for(var i=2; i<4; i++) { %>
            <button
              type="button"
              data-bs-target="#banner_box"
              data-bs-slide-to="<%=i-1%>"
              aria-label="Slide <%=i%>"
            ></button>
            <% } %>
          </div>
          <div class="banner_img" class="carousel-inner">
            <div class="carousel-item active">
              <a href="/"
                ><img
                  src="/static/img/homepage/main/main_banner1.jpg"
                  class="d-block w-100"
              /></a>
            </div>
            <% for(var i=2; i<4; i++) { %>
            <div class="carousel-item">
              <a href="/"
                ><img
                  src="/static/img/homepage/main/main_banner<%=i%>.jpg"
                  class="d-block w-100"
              /></a>
            </div>
            <% } %>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#banner_box"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#banner_box"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="ytb_qa_box">
          <iframe
            class="celeb_ytb ytb1"
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/dA1jRO0egbU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <iframe
            class="celeb_ytb"
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/tJN2Do4yq4s"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <div>
            <a href=""
              ><img src="/static/img/homepage/main/learn_celeb.jpg" alt="" />
            </a>
          </div>
        </div>
        <div class="main_box_2">
          <div class="casting_title">
            <h2>캐스팅</h2>
            <a href="">
              <span>캐스팅 더 보러 가기 ▶</span>
            </a>
          </div>
          <div
            id="carouselExampleControlsNoTouching"
            class="casting_carousel carousel slide"
            data-bs-touch="false"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card-group casting_box">
                  <% for(var i=1; i<6; i++) { %>
                  <div class="card">
                    <a href="">
                      <div class="card-header bg-transparent">
                        <bigger class="text-muted">D - 30</bigger>
                      </div>
                      <div class="casting_img">
                        <img
                          src="/static/img/homepage/main/logo<%=i%>.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">회사 이름</h5>
                        <p class="card-text">구인구직글 개요</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"
                          >Last updated 3 mins ago</small
                        >
                      </div>
                    </a>
                  </div>
                  <% } %>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card-group casting_box">
                  <% for(var i=1; i<6; i++) { %>
                  <div class="card">
                    <a href="">
                      <div class="card-header bg-transparent">
                        <bigger class="text-muted">D - 30</bigger>
                      </div>
                      <div class="casting_img">
                        <img
                          src="/static/img/homepage/main/logo<%=i%>.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">회사 이름</h5>
                        <p class="card-text">구인구직글 개요</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted"
                          >Last updated 3 mins ago</small
                        >
                      </div>
                    </a>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
            <button
              class="casting_prev carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControlsNoTouching"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="casting_next carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControlsNoTouching"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="magazine_title">
            <h2>오픈 프로필</h2>
            <a href="">
              <span>프로필 더 보러 가기 ▶</span>
            </a>
          </div>
          <div class="magazine_box row row-cols-1 row-cols-md-4 g-3">
            <% for(var i=1; i<9; i++) { %>
            <div class="col">
              <div class="card">
                <a href="/">
                  <img
                    src="/static/img/homepage/main/model<%=i%>.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">이름</h5>
                    <p class="card-text">오픈 프로필 개요</p>
                    <p>나이, 소속사, 주요 경력 한 줄 등</p>
                  </div>
                </a>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </main>
      <%-include('./footer/footer.ejs')%>
    </div>
    <!-- 부트스트랩 -->
    <script src="/js/bootstrap.min.js"></script>
    <script></script>
  </body>
</html>
